{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block menu %}



{{parent()}}

     {% if app.session.get('EstDaf') == true %}
      <h2 style="text-align: center;">     
      <h2> Liste des différents Visiteurs </h2>

      
      <table style="border-collapse: collapse;">
        <tr style="{border: 1px solid black;}">      
       <th style="border: 1px solid black;" >Nom de l'utilisateur</th>
       <th style="border: 1px solid black;" >Prenom de l'utilisateur</th>
        <th style="border: 1px solid black;" >Tablettes ?</th>
      
       </tr>

       {%for t in tablette%} 
      <td style="border: 1px solid black;"><a href={{ path('pg_gsb_frais_daf_affectations',{'id' : t.id} )}}>{{t.nom}}</a></td>

       <td style="border: 1px solid black;">{{t.prenom}}</td>
       <td style="border: 1px solid black;"></td>       

       </br>
   </tr>
   {% endfor %}
</table>
</h2>


{%endif%}


       
       
     </div> 

{% endblock %}

